<div class="container" style="padding-top: 40px;">
  <button class="btn btn-primary float-right" (click)="openNoteAdd()" style="margin-bottom: 25px;">Add note</button>

  <ul class="list-group list-group-flush col-lg-12 col-md-12 col-sm-12" *ngFor="let note of notes">
    <li class="list-group-item"><span class="note-title">{{note.title}}</span>
      <button class="btn btn-danger btn-sm float-right" (click)="deleteNote(note)">Delete</button>
      <button class="btn btn-primary btn-sm float-right" (click)="openNoteEdit(note)" style="margin-left: 5px; margin-right: 5px;">Edit + {{note.id}}</button>
      <button class="btn btn-grey btn-sm float-right" (click)="openNoteDetail(note)">Detail</button>
    </li>
  </ul>
</div>

<app-detail *ngIf="this.selectedNote && opened == 'detail'" [note]="selectedNote" (modalClosed)="this.closeNote()"></app-detail>
<app-edit *ngIf="(this.selectedNote && opened == 'edit') || opened == 'add'" [note]="selectedNote" (modalClosed)="this.closeNote()"></app-edit>
