<div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">{{note ? note.title + " - Edit": "Add Note"}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form [formGroup]="form" (ngSubmit)="onSubmit()">

      <div class="modal-body">

          <div class="modal-body">
            <div class="form-group form-group-lg">
              <input type="text" class="form-control" id="title" formControlName="title" placeholder="Titulek" />
              <textarea type="number" class="form-control" id="text" formControlName="text" placeholder="Vložte text"></textarea>
            </div>
          </div>

      </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Save changes</button>
        </div>
      </form>

    </div>
  </div>
</div>
